---
layout: layouts/home.njk
numberOfLatestPostsToShow: 3
---
<!-- {% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h1>Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}</h1>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="/blog/">the archive</a>.</p>
{% endif %}


{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#} -->
<p>

	{% image "./sheepdog.png", "pop art fig leaf painting framed on wall" %}
	<h1>The futures is here. Cut your costs, free up your time, please your customers.....</h1>

</p>


<div class="flex-container">
	<a href="/contact" >Get Started?</a>  <a href="/blog" >Find out more?</a>  <a href="/snake" >Nah, let's play a game....</a>
</div>
